@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

:root {
  --bg: #ffffff;
  --text: #020617;
  --accent: #2563eb;
}

.dark {
  --bg: #020617;
  --text: #f8fafc;
  --accent: #38bdf8;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg);
  color: var(--text);
}

/* :root {
  --bg-primary: #ffffff;
  --bg-secondary: #f1f5f9;
  --bg-muted: #e5e7eb;
  --text-primary: #020617;
  --text-secondary: #475569;
  --accent: #2563eb;
}

.dark {
  --bg-primary: #020617;
  --bg-secondary: #020617;
  --bg-muted: #0f172a;
  --text-primary: #f8fafc;
  --text-secondary: #94a3b8;
  --accent: #38bdf8;
}

body {
  margin: 0;
  font-family: "Inter", system-ui, sans-serif;
  background: var(--bg-primary);
  color: var(--text-primary);
}

section {
  padding: 6rem 1rem;
}

.hero-bg {
  background: radial-gradient(
      circle at 20% 20%,
      rgba(56, 189, 248, 0.25),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 30%,
      rgba(99, 102, 241, 0.25),
      transparent 40%
    ),
    linear-gradient(180deg, #020617, #020617);
}

.hero-grid {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.03) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 40px 40px;
} */
